@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
    background-color: #0f0f10;
}

/*.fi-sidebar-nav {*/
/*    background: #0f0f10;*/
/*    border-right: 1px solid #2c2c2d;*/
/*}*/
/*.fi-topbar {*/
/*    background: #0f0f10;*/
/*    border-bottom: 2px solid #0f0f10 ;*/
/*}*/
/*.fi-topbar-ctn {*/
/* z-index: 0;*/
/*}*/

.fi-topbar {
    background: #0f0f10;
    @apply shadow-none ring-0;
}

.fi-sidebar {
    border-right: 1px solid #2c2c2d;
}
.fi-sidebar {
    border-right: 1px solid #2c2c2d; /* repete a borda no container */
    /*z-index: 1; !* menor que o fi-topbar, para não sobrepor *!*/
}

.fi-sidebar-header {
    background: #0f0f10;
    border-right: 1px solid #2c2c2d;
    @apply !bg-inherit shadow-none ring-0;
}
/*.fi-icon-btn.fi-size-md.fi-topbar-open-sidebar-btn {*/
/*    display: none !important;*/
/*}*/

@media (min-width: 1024px) {
    .fi-icon-btn.fi-size-md.fi-topbar-open-sidebar-btn,
    .fi-icon-btn.fi-size-md.fi-topbar-close-sidebar-btn,
    .fi-icon-btn.fi-size-md.fi-topbar-close-collapse-sidebar-btn {
        display: none !important;
    }
}
